@import "../../style/styles.module.scss";

.container {
    min-height: calc(100vh - 439px);
    width: 100%;
    margin: 0% auto;
    max-width: $container;
    @include mediaTo(800px) {
        margin-top: 20px;
        padding: 0px 10px;
    }
}
