$container: 1340px;
$padding: 0 16px;
$main-color: #1589cb;
$error_color: #bf4342;
$menu_item_color: #010420;
$black: #000000;
$header-background: #f5f6f9;
$background: #f5f6f9;
$text_color: #010420;
$link-color: #010420;
$link-hover-color: #ef800c;
$primary-color: #010420;
$secondary-color: #ef800c;
$color: #fff;
$grey: #f5f6f9;

$color2: #fdfdfd;
$placeholder-color: rgba(0, 0, 0, 0.3);
$secondary-background: #fff;
$light-grey: #ccc;
$dark-grey: #f7f7f7;
$danger-color: #bf4342;
$success-gray: #e4e7f0;
$standart-font-size: 16px;
$small-font-size: 14px;
$standart-line-height: 1.3em;
$large-font-size: 18px;
$large-line-height: 1.5em;
$font-style: italic;
$title-font-size: 22px;
$text-font-size: 16px;
$font-weight: 800;
$border-radius: 10px;
$opacity: 0.8;
$nav-color: #ffffff;

$primary-dark: #1a1a1a;
$text-align: center;
$transition: 0.3s;
$box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
$footer-border: 1px solid #1589cb4f;

//media query sizes
$size320: 320px;
$size360: 360px;
$size400: 400px;
$size480: 480px;
$size576: 576px;
$size600: 600px;
$size640: 640px;
$size720: 720px;
$size768: 768px;
$size960: 960px;
$size1024: 1024px;

@mixin display-center($display, $justify-content, $align-items) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin display-flex-direction($display, $flex-direction, $align-items) {
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
}

@mixin display-grid {
    display: grid;
    grid-gap: 5px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    border-radius: 10px;
}
@mixin proportion($percent) {
    position: relative;
    overflow: hidden;
    &::before {
        display: block;
        content: "";
        padding-bottom: $percent;
    }
    > img {
        transition: $transition;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
}
@mixin text-style {
    color: $text_color;
    font-size: $text-font-size;
    font-weight: $font-weight;
}
@mixin input-style {
    border: 2px solid !important;
}

@mixin button {
    width: 150px;
    margin: 0 auto;
}
@mixin mediaTo($to) {
    @media screen and (max-width: $to) {
        @content;
    }
}
@mixin mediaToMin($to) {
    @media screen and (min-width: $to) {
        @content;
    }
}
.button_container {
    @include display-center(flex, center, center);
    margin-top: 20px;
    width: inherit;
    .primary_btn {
        border: 1px solid $link-hover-color;
        color: $link-hover-color;
        padding: 12px 24px;
        font-size: $large-font-size;
        line-height: $standart-line-height;
        background-color: $color;
        border-radius: 10px;
        transition: $transition;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: $color;
            background-color: $link-hover-color;
        }
        @include mediaTo($size720) {
            padding: 12px;
        }
        @include mediaTo($size576) {
            font-size: $small-font-size;
        }
    }
    .secondary_btn {
        border: 1px solid $link-hover-color;
        color: $color;
        padding: 12px 24px;
        font-size: $large-font-size;
        line-height: $standart-line-height;
        background-color: $main-color;
        border-radius: 10px;
        transition: $transition;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: $link-hover-color;
            background-color: $color;
        }
        @include mediaTo($size720) {
            padding: 12px;
        }
        @include mediaTo($size576) {
            font-size: $small-font-size;
        }
    }
}
